XmlData/rattlesIcreatedSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="xmlMyRattles">
        <xs:complexType>
            <xs:sequence>
                <xs:element maxOccurs="unbounded" name="rattle">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="msg" type="xs:string" />
                            <xs:element name="postTime" type="xs:string" />
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>